.BaseParent{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 10px;
    border: 2px solid whitesmoke;
}

.SideCon{
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(26, 106, 233);
    color: rgb(252, 240, 240);
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    padding: 5px;
    width: auto;
}

.SideCon p:hover{
    cursor: pointer;
    color: white;
    font-weight: 800;
    background-color: rgb(63, 69, 76);
}

.MainCon{
    background-color: none;
    position: relative;
}

.UpgradePro{
    margin: 20px;
    border: 2px solid;
    padding: 5px;
    background-color: rgb(69, 65, 65);
    overflow:auto;
    height: auto;
    width: auto;
}

.UpgradePro button{
    background-color: rgb(94, 203, 138);
}

